In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
#Create empty lists to store the data we are about to collect from the website
#We would like to collect the names of the cars, the mileage, the price, the rating, the number of reviews the car received

car_name = []
car_mileage = []
car_price = []

In [3]:
#We need to create a variable to store the url of the website, I'm calling this variable website_url. We then need to send a request to the website
#and scrape multiple pages

for i in range(1,2):
    website_url ="https://www.truecar.com/used-cars-for-sale/listings/location-boston-ma/&page=" + str(i)
    #make request to the website
    web_request = requests.get(website_url, headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36'})
    
    # Create an object to store the html elements of the request
    soup = BeautifulSoup(web_request.content,'html.parser')
    
    # Create a list that contains the results of the web page
    results_list = soup.find_all('div', {'class':'flex w-full flex-col h-full'})
    
    for i in results_list:
    
        #get the names of the cars. If the name of the car is not present, append 'n/a' to the list
        try:
            car_name.append(i.find('h2').get_text())
        except:
            car_name.append('n/a')

        #get the mileage of the cars
        try:
            car_mileage.append(i.find('div', {'data-test': 'vehicleMileage'}).get_text())
        except:
            car_mileage.append('n/a')

        #get the price of the car
        try:
            car_price.append(i.find('span', {'data-test': 'vehicleCardPricingPrice'}).get_text())
        except:
            car_price.append('n/a')

In [4]:
# Create a DataFrame

car_info = pd.DataFrame({'Name': car_name, 'Mileage': car_mileage, 'Price': car_price})

In [5]:
#print the DataFrame
car_info

                                                 Name        Mileage     Price
0      Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD   42,056 miles  $29,998
1          Used 2022 JeepGrand Cherokee L Limited 4WD      500 miles  $30,265
2                        Used 2022 FordEscape SEL AWD   21,828 miles  $23,998
3        Used 2013 HyundaiElantra GLS Sedan Automatic   43,420 miles   $8,998
4                          Used 2013 INFINITIJX35 AWD  112,948 miles   $8,995
5                       Used 2016 LincolnMKS 3.7L AWD  137,700 miles   $9,250
6                     Used 2016 DodgeGrand Caravan SE  116,058 miles   $7,000
7             Used 2019 JeepGrand Cherokee Summit 4WD   90,783 miles  $19,998
8                     Used 2012 JeepLiberty Sport 4WD   91,120 miles   $7,450
9       Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD  110,900 miles  $13,777
10  Used 2021 RamProMaster Cargo Van 1500 Low Roof...   67,965 miles  $17,975
11     Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD   42,056 miles  $29,998
12                 Used 2020 ChevroletSuburban LT 4WD  125,891 miles  $22,995
13                        Used 2012 FordFusion SE FWD  132,935 miles   $5,350
14                       Used 2015 NissanAltima 2.5 S  122,818 miles   $6,995
15              Used 2005 NissanTitan SE King Cab 4WD  103,830 miles   $7,995
16             Used 2017 JeepWrangler Unlimited Sport   84,824 miles  $17,662
17    Used 2013 FordTransit Connect Wagon XLT Premium  105,172 miles   $6,975
18   Used 2008 Mercedes-BenzE 350 4MATIC Luxury Sedan  120,525 miles   $6,000
19         Used 2015 AudiQ5 Premium Plus 2.0T quattro  100,435 miles  $10,650
20              Used 2015 BMW328i xDrive Sports Wagon  145,545 miles   $9,750
21            Used 2012 HondaCivic LX Sedan Automatic  113,839 miles   $7,995
22         Used 2022 JeepGrand Cherokee L Limited 4WD      500 miles  $30,265
23      Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD  107,060 miles  $13,850
24                         Used 2017 ChevroletVolt LT   63,172 miles  $11,795
25              Used 2023 Mercedes-BenzEQB 300 4MATIC    8,329 miles  $27,913
26  Used 2018 ChevroletSilverado 1500 LT Crew Cab ...  125,351 miles  $19,995
27            Used 2011 Mercedes-BenzML 63 AMG 4MATIC  116,200 miles  $14,995
28                  Used 2018 VolvoV60 T5 FWD Dynamic   89,180 miles  $14,995
29             Used 2017 GMCAcadia SLE with SLE-2 AWD   86,826 miles  $14,788
30             Used 2022 HyundaiKona Electric Limited   32,250 miles  $18,000
31             Used 2021 HyundaiKona Electric Limited   13,934 miles  $16,300
32         Used 2019 ChevroletEquinox LS with 1LS AWD  120,645 miles  $11,495

In [6]:
#Let's clean the data frame

#The first thing we should do is to edit the Reviews column

car_info['Mileage'] = car_info['Mileage'].apply(lambda x:x.replace('mi', '')) #remove 'mi' from the mileage column
car_info['Mileage'] = car_info['Mileage'].apply(lambda x:x.replace('k', '000')) #remove 'k' from the mileage column
car_info['Price'] = car_info['Price'].apply(lambda x:x.replace('$', '')) # remove the $ from the Price column
car_info['Price'] = car_info['Price'].apply(lambda x:x.replace(',', '')) #remove the ',' from the Price column

In [7]:
car_info

                                                 Name      Mileage   Price
0      Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD   42,056 les  29998
1          Used 2022 JeepGrand Cherokee L Limited 4WD      500 les  30265
2                        Used 2022 FordEscape SEL AWD   21,828 les  23998
3        Used 2013 HyundaiElantra GLS Sedan Automatic   43,420 les   8998
4                          Used 2013 INFINITIJX35 AWD  112,948 les   8995
5                       Used 2016 LincolnMKS 3.7L AWD  137,700 les   9250
6                     Used 2016 DodgeGrand Caravan SE  116,058 les   7000
7             Used 2019 JeepGrand Cherokee Summit 4WD   90,783 les  19998
8                     Used 2012 JeepLiberty Sport 4WD   91,120 les   7450
9       Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD  110,900 les  13777
10  Used 2021 RamProMaster Cargo Van 1500 Low Roof...   67,965 les  17975
11     Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD   42,056 les  29998
12                 Used 2020 ChevroletSuburban LT 4WD  125,891 les  22995
13                        Used 2012 FordFusion SE FWD  132,935 les   5350
14                       Used 2015 NissanAltima 2.5 S  122,818 les   6995
15              Used 2005 NissanTitan SE King Cab 4WD  103,830 les   7995
16             Used 2017 JeepWrangler Unlimited Sport   84,824 les  17662
17    Used 2013 FordTransit Connect Wagon XLT Premium  105,172 les   6975
18   Used 2008 Mercedes-BenzE 350 4MATIC Luxury Sedan  120,525 les   6000
19         Used 2015 AudiQ5 Premium Plus 2.0T quattro  100,435 les  10650
20              Used 2015 BMW328i xDrive Sports Wagon  145,545 les   9750
21            Used 2012 HondaCivic LX Sedan Automatic  113,839 les   7995
22         Used 2022 JeepGrand Cherokee L Limited 4WD      500 les  30265
23      Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD  107,060 les  13850
24                         Used 2017 ChevroletVolt LT   63,172 les  11795
25              Used 2023 Mercedes-BenzEQB 300 4MATIC    8,329 les  27913
26  Used 2018 ChevroletSilverado 1500 LT Crew Cab ...  125,351 les  19995
27            Used 2011 Mercedes-BenzML 63 AMG 4MATIC  116,200 les  14995
28                  Used 2018 VolvoV60 T5 FWD Dynamic   89,180 les  14995
29             Used 2017 GMCAcadia SLE with SLE-2 AWD   86,826 les  14788
30             Used 2022 HyundaiKona Electric Limited   32,250 les  18000
31             Used 2021 HyundaiKona Electric Limited   13,934 les  16300
32         Used 2019 ChevroletEquinox LS with 1LS AWD  120,645 les  11495

In [8]:
#The Name column has a lot of important data on the Year, Company, Vehicle make and model.
# Use regex to split the 'Name' column into 4 parts: Stock type, Year, Brand, and the rest
#(\w+): Matches the stock type (e.g., "Used").
#(\d{4}): Matches the year (e.g., "2021").
#([A-Za-z]+): Matches the brand (e.g., "Toyota").
#(.*): Captures the rest of the string (e.g., "Tacoma SR5 Double Cab 5' Bed V6 4WD Automatic").

car_info[['Stock type', 'Year', 'Brand', 'Rest']] = car_info['Name'].str.extract(r'(\w+)\s(\d{4})\s([A-Za-z]+)(.*)')

In [9]:
car_info

,Name,Mileage,Price,Stock type,Year,Brand,Rest
0,Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD,"42,056 les",29998,Used,2023,FordF,-150 XLT SuperCrew 5.5' Box 2WD
1,Used 2022 JeepGrand Cherokee L Limited 4WD,500 les,30265,Used,2022,JeepGrand,Cherokee L Limited 4WD
2,Used 2022 FordEscape SEL AWD,"21,828 les",23998,Used,2022,FordEscape,SEL AWD
3,Used 2013 HyundaiElantra GLS Sedan Automatic,"43,420 les",8998,Used,2013,HyundaiElantra,GLS Sedan Automatic
4,Used 2013 INFINITIJX35 AWD,"112,948 les",8995,Used,2013,INFINITIJX,35 AWD
5,Used 2016 LincolnMKS 3.7L AWD,"137,700 les",9250,Used,2016,LincolnMKS,3.7L AWD
6,Used 2016 DodgeGrand Caravan SE,"116,058 les",7000,Used,2016,DodgeGrand,Caravan SE
7,Used 2019 JeepGrand Cherokee Summit 4WD,"90,783 les",19998,Used,2019,JeepGrand,Cherokee Summit 4WD
8,Used 2012 JeepLiberty Sport 4WD,"91,120 les",7450,Used,2012,JeepLiberty,Sport 4WD
9,Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD,"110,900 les",13777,Used,2014,FordF,-150 STX SuperCab 6.5' Box 4WD
10,Used 2021 RamProMaster Cargo Van 1500 Low Roof...,"67,965 les",17975,Used,2021,RamProMaster,"Cargo Van 1500 Low Roof 136"""
11,Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD,"42,056 les",29998,Used,2023,FordF,-150 XLT SuperCrew 5.5' Box 2WD
12,Used 2020 ChevroletSuburban LT 4WD,"125,891 les",22995,Used,2020,ChevroletSuburban,LT 4WD
13,Used 2012 FordFusion SE FWD,"132,935 les",5350,Used,2012,FordFusion,SE FWD
14,Used 2015 NissanAltima 2.5 S,"122,818 les",6995,Used,2015,NissanAltima,2.5 S
15,Used 2005 NissanTitan SE King Cab 4WD,"103,830 les",7995,Used,2005,NissanTitan,SE King Cab 4WD
16,Used 2017 JeepWrangler Unlimited Sport,"84,824 les",17662,Used,2017,JeepWrangler,Unlimited Sport
17,Used 2013 FordTransit Connect Wagon XLT Premium,"105,172 les",6975,Used,2013,FordTransit,Connect Wagon XLT Premium
18,Used 2008 Mercedes-BenzE 350 4MATIC Luxury Sedan,"120,525 les",6000,Used,2008,Mercedes,-BenzE 350 4MATIC Luxury Sedan
19,Used 2015 AudiQ5 Premium Plus 2.0T quattro,"100,435 les",10650,Used,2015,AudiQ,5 Premium Plus 2.0T quattro
20,Used 2015 BMW328i xDrive Sports Wagon,"145,545 les",9750,Used,2015,BMW,328i xDrive Sports Wagon
21,Used 2012 HondaCivic LX Sedan Automatic,"113,839 les",7995,Used,2012,HondaCivic,LX Sedan Automatic
22,Used 2022 JeepGrand Cherokee L Limited 4WD,500 les,30265,Used,2022,JeepGrand,Cherokee L Limited 4WD
23,Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD,"107,060 les",13850,Used,2014,FordF,-150 STX SuperCab 6.5' Box 4WD
24,Used 2017 ChevroletVolt LT,"63,172 les",11795,Used,2017,ChevroletVolt,LT
25,Used 2023 Mercedes-BenzEQB 300 4MATIC,"8,329 les",27913,Used,2023,Mercedes,-BenzEQB 300 4MATIC
26,Used 2018 ChevroletSilverado 1500 LT Crew Cab ...,"125,351 les",19995,Used,2018,ChevroletSilverado,1500 LT Crew Cab Short Box 4WD
27,Used 2011 Mercedes-BenzML 63 AMG 4MATIC,"116,200 les",14995,Used,2011,Mercedes,-BenzML 63 AMG 4MATIC
28,Used 2018 VolvoV60 T5 FWD Dynamic,"89,180 les",14995,Used,2018,VolvoV,60 T5 FWD Dynamic
29,Used 2017 GMCAcadia SLE with SLE-2 AWD,"86,826 les",14788,Used,2017,GMCAcadia,SLE with SLE-2 AWD
30,Used 2022 HyundaiKona Electric Limited,"32,250 les",18000,Used,2022,HyundaiKona,Electric Limited
31,Used 2021 HyundaiKona Electric Limited,"13,934 les",16300,Used,2021,HyundaiKona,Electric Limited
32,Used 2019 ChevroletEquinox LS with 1LS AWD,"120,645 les",11495,Used,2019,ChevroletEquinox,LS with 1LS AWD

In [10]:
# For my example, the car name and model are displayed in the brand column. I will use regex to extract the Brand and Model
#NOTE: This may not be the case for you, if it isn't so not run this cell. I suggest you look at your data

#We use the regular expression r'([A-Za-z]+)([A-Z][a-zA-Z]*)' to capture:
#([A-Za-z]+): The first part of the string (brand), which is made up of any sequence of letters.
#([A-Z][a-zA-Z]*): The second part (model), which starts with a capital letter followed by more letters.

car_info[['Make', 'Model']] = car_info['Brand'].str.extract(r'([A-Za-z]+)([A-Z][a-zA-Z]*)')

car_info

,Name,Mileage,Price,Stock type,Year,Brand,Rest,Make,Model
0,Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD,"42,056 les",29998,Used,2023,FordF,-150 XLT SuperCrew 5.5' Box 2WD,Ford,F
1,Used 2022 JeepGrand Cherokee L Limited 4WD,500 les,30265,Used,2022,JeepGrand,Cherokee L Limited 4WD,Jeep,Grand
2,Used 2022 FordEscape SEL AWD,"21,828 les",23998,Used,2022,FordEscape,SEL AWD,Ford,Escape
3,Used 2013 HyundaiElantra GLS Sedan Automatic,"43,420 les",8998,Used,2013,HyundaiElantra,GLS Sedan Automatic,Hyundai,Elantra
4,Used 2013 INFINITIJX35 AWD,"112,948 les",8995,Used,2013,INFINITIJX,35 AWD,INFINITIJ,X
5,Used 2016 LincolnMKS 3.7L AWD,"137,700 les",9250,Used,2016,LincolnMKS,3.7L AWD,LincolnMK,S
6,Used 2016 DodgeGrand Caravan SE,"116,058 les",7000,Used,2016,DodgeGrand,Caravan SE,Dodge,Grand
7,Used 2019 JeepGrand Cherokee Summit 4WD,"90,783 les",19998,Used,2019,JeepGrand,Cherokee Summit 4WD,Jeep,Grand
8,Used 2012 JeepLiberty Sport 4WD,"91,120 les",7450,Used,2012,JeepLiberty,Sport 4WD,Jeep,Liberty
9,Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD,"110,900 les",13777,Used,2014,FordF,-150 STX SuperCab 6.5' Box 4WD,Ford,F
10,Used 2021 RamProMaster Cargo Van 1500 Low Roof...,"67,965 les",17975,Used,2021,RamProMaster,"Cargo Van 1500 Low Roof 136""",RamPro,Master
11,Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD,"42,056 les",29998,Used,2023,FordF,-150 XLT SuperCrew 5.5' Box 2WD,Ford,F
12,Used 2020 ChevroletSuburban LT 4WD,"125,891 les",22995,Used,2020,ChevroletSuburban,LT 4WD,Chevrolet,Suburban
13,Used 2012 FordFusion SE FWD,"132,935 les",5350,Used,2012,FordFusion,SE FWD,Ford,Fusion
14,Used 2015 NissanAltima 2.5 S,"122,818 les",6995,Used,2015,NissanAltima,2.5 S,Nissan,Altima
15,Used 2005 NissanTitan SE King Cab 4WD,"103,830 les",7995,Used,2005,NissanTitan,SE King Cab 4WD,Nissan,Titan
16,Used 2017 JeepWrangler Unlimited Sport,"84,824 les",17662,Used,2017,JeepWrangler,Unlimited Sport,Jeep,Wrangler
17,Used 2013 FordTransit Connect Wagon XLT Premium,"105,172 les",6975,Used,2013,FordTransit,Connect Wagon XLT Premium,Ford,Transit
18,Used 2008 Mercedes-BenzE 350 4MATIC Luxury Sedan,"120,525 les",6000,Used,2008,Mercedes,-BenzE 350 4MATIC Luxury Sedan,NaN,NaN
19,Used 2015 AudiQ5 Premium Plus 2.0T quattro,"100,435 les",10650,Used,2015,AudiQ,5 Premium Plus 2.0T quattro,Audi,Q
20,Used 2015 BMW328i xDrive Sports Wagon,"145,545 les",9750,Used,2015,BMW,328i xDrive Sports Wagon,BM,W
21,Used 2012 HondaCivic LX Sedan Automatic,"113,839 les",7995,Used,2012,HondaCivic,LX Sedan Automatic,Honda,Civic
22,Used 2022 JeepGrand Cherokee L Limited 4WD,500 les,30265,Used,2022,JeepGrand,Cherokee L Limited 4WD,Jeep,Grand
23,Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD,"107,060 les",13850,Used,2014,FordF,-150 STX SuperCab 6.5' Box 4WD,Ford,F
24,Used 2017 ChevroletVolt LT,"63,172 les",11795,Used,2017,ChevroletVolt,LT,Chevrolet,Volt
25,Used 2023 Mercedes-BenzEQB 300 4MATIC,"8,329 les",27913,Used,2023,Mercedes,-BenzEQB 300 4MATIC,NaN,NaN
26,Used 2018 ChevroletSilverado 1500 LT Crew Cab ...,"125,351 les",19995,Used,2018,ChevroletSilverado,1500 LT Crew Cab Short Box 4WD,Chevrolet,Silverado
27,Used 2011 Mercedes-BenzML 63 AMG 4MATIC,"116,200 les",14995,Used,2011,Mercedes,-BenzML 63 AMG 4MATIC,NaN,NaN
28,Used 2018 VolvoV60 T5 FWD Dynamic,"89,180 les",14995,Used,2018,VolvoV,60 T5 FWD Dynamic,Volvo,V
29,Used 2017 GMCAcadia SLE with SLE-2 AWD,"86,826 les",14788,Used,2017,GMCAcadia,SLE with SLE-2 AWD,GMC,Acadia
30,Used 2022 HyundaiKona Electric Limited,"32,250 les",18000,Used,2022,HyundaiKona,Electric Limited,Hyundai,Kona
31,Used 2021 HyundaiKona Electric Limited,"13,934 les",16300,Used,2021,HyundaiKona,Electric Limited,Hyundai,Kona
32,Used 2019 ChevroletEquinox LS with 1LS AWD,"120,645 les",11495,Used,2019,ChevroletEquinox,LS with 1LS AWD,Chevrolet,Equinox

In [11]:
#For my example, there are a few NaNs in the Make and Model columns, I need to replace these with the values Toyota, Tacoma

# Fill NaN values in the 'Brand' column with 'Toyota'
car_info['Make'].fillna('Toyota', inplace=True)

# Fill NaN values in the 'Model' column with 'Tacoma'
car_info['Model'].fillna('Tacoma', inplace=True)

# Display the DataFrame
print(car_info)

                                                 Name      Mileage   Price  \
0      Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD   42,056 les  29998
1          Used 2022 JeepGrand Cherokee L Limited 4WD      500 les  30265
2                        Used 2022 FordEscape SEL AWD   21,828 les  23998
3        Used 2013 HyundaiElantra GLS Sedan Automatic   43,420 les   8998
4                          Used 2013 INFINITIJX35 AWD  112,948 les   8995
5                       Used 2016 LincolnMKS 3.7L AWD  137,700 les   9250
6                     Used 2016 DodgeGrand Caravan SE  116,058 les   7000
7             Used 2019 JeepGrand Cherokee Summit 4WD   90,783 les  19998
8                     Used 2012 JeepLiberty Sport 4WD   91,120 les   7450
9       Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD  110,900 les  13777
10  Used 2021 RamProMaster Cargo Van 1500 Low Roof...   67,965 les  17975
11     Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD   42,056 les  29998
12                 Used 2020 ChevroletSuburban LT 4WD  125,891 les  22995
13                        Used 2012 FordFusion SE FWD  132,935 les   5350
14                       Used 2015 NissanAltima 2.5 S  122,818 les   6995
15              Used 2005 NissanTitan SE King Cab 4WD  103,830 les   7995
16             Used 2017 JeepWrangler Unlimited Sport   84,824 les  17662
17    Used 2013 FordTransit Connect Wagon XLT Premium  105,172 les   6975
18   Used 2008 Mercedes-BenzE 350 4MATIC Luxury Sedan  120,525 les   6000
19         Used 2015 AudiQ5 Premium Plus 2.0T quattro  100,435 les  10650
20              Used 2015 BMW328i xDrive Sports Wagon  145,545 les   9750
21            Used 2012 HondaCivic LX Sedan Automatic  113,839 les   7995
22         Used 2022 JeepGrand Cherokee L Limited 4WD      500 les  30265
23      Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD  107,060 les  13850
24                         Used 2017 ChevroletVolt LT   63,172 les  11795
25              Used 2023 Mercedes-BenzEQB 300 4MATIC    8,329 les  27913
26  Used 2018 ChevroletSilverado 1500 LT Crew Cab ...  125,351 les  19995
27            Used 2011 Mercedes-BenzML 63 AMG 4MATIC  116,200 les  14995
28                  Used 2018 VolvoV60 T5 FWD Dynamic   89,180 les  14995
29             Used 2017 GMCAcadia SLE with SLE-2 AWD   86,826 les  14788
30             Used 2022 HyundaiKona Electric Limited   32,250 les  18000
31             Used 2021 HyundaiKona Electric Limited   13,934 les  16300
32         Used 2019 ChevroletEquinox LS with 1LS AWD  120,645 les  11495

   Stock type  Year               Brand                             Rest  \
0        Used  2023               FordF  -150 XLT SuperCrew 5.5' Box 2WD
1        Used  2022           JeepGrand           Cherokee L Limited 4WD
2        Used  2022          FordEscape                          SEL AWD
3        Used  2013      HyundaiElantra              GLS Sedan Automatic
4        Used  2013          INFINITIJX                           35 AWD
5        Used  2016          LincolnMKS                         3.7L AWD
6        Used  2016          DodgeGrand                       Caravan SE
7        Used  2019           JeepGrand              Cherokee Summit 4WD
8        Used  2012         JeepLiberty                        Sport 4WD
9        Used  2014               FordF   -150 STX SuperCab 6.5' Box 4WD
10       Used  2021        RamProMaster     Cargo Van 1500 Low Roof 136"
11       Used  2023               FordF  -150 XLT SuperCrew 5.5' Box 2WD
12       Used  2020   ChevroletSuburban                           LT 4WD
13       Used  2012          FordFusion                           SE FWD
14       Used  2015        NissanAltima                            2.5 S
15       Used  2005         NissanTitan                  SE King Cab 4WD
16       Used  2017        JeepWrangler                  Unlimited Sport
17       Used  2013         FordTransit        Connect Wagon XLT Premium
18       Used  2008            Mercedes   -BenzE 350 4MATIC Luxury Sedan
19       Used  2015               AudiQ      5 Premium Plus 2.0T quattro
20       Used  2015                 BMW         328i xDrive Sports Wagon
21       Used  2012          HondaCivic               LX Sedan Automatic
22       Used  2022           JeepGrand           Cherokee L Limited 4WD
23       Used  2014               FordF   -150 STX SuperCab 6.5' Box 4WD
24       Used  2017       ChevroletVolt                               LT
25       Used  2023            Mercedes              -BenzEQB 300 4MATIC
26       Used  2018  ChevroletSilverado   1500 LT Crew Cab Short Box 4WD
27       Used  2011            Mercedes            -BenzML 63 AMG 4MATIC
28       Used  2018              VolvoV                60 T5 FWD Dynamic
29       Used  2017           GMCAcadia               SLE with SLE-2 AWD
30       Used  2022         HyundaiKona                 Electric Limited
31       Used  2021         HyundaiKona                 Electric Limited
32       Used  2019    ChevroletEquinox                  LS with 1LS AWD

         Make      Model
0        Ford          F
1        Jeep      Grand
2        Ford     Escape
3     Hyundai    Elantra
4   INFINITIJ          X
5   LincolnMK          S
6       Dodge      Grand
7        Jeep      Grand
8        Jeep    Liberty
9        Ford          F
10     RamPro     Master
11       Ford          F
12  Chevrolet   Suburban
13       Ford     Fusion
14     Nissan     Altima
15     Nissan      Titan
16       Jeep   Wrangler
17       Ford    Transit
18     Toyota     Tacoma
19       Audi          Q
20         BM          W
21      Honda      Civic
22       Jeep      Grand
23       Ford          F
24  Chevrolet       Volt
25     Toyota     Tacoma
26  Chevrolet  Silverado
27     Toyota     Tacoma
28      Volvo          V
29        GMC     Acadia
30    Hyundai       Kona
31    Hyundai       Kona
32  Chevrolet    Equinox

C:\Windows\Temp\ipykernel_49632\3638535477.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_info['Make'].fillna('Toyota', inplace=True)
C:\Windows\Temp\ipykernel_49632\3638535477.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_info['Model'].fillna('Tacoma', inplace=True)

In [12]:
# Drop the column Name and its no longer needed
car_info = car_info.drop(["Name"], axis = 1)
car_info = car_info.drop(["Rest"], axis = 1)
car_info = car_info.drop(["Brand"], axis = 1)

In [13]:
car_info

        Mileage   Price Stock type  Year       Make      Model
0    42,056 les  29998        Used  2023       Ford          F
1       500 les  30265        Used  2022       Jeep      Grand
2    21,828 les  23998        Used  2022       Ford     Escape
3    43,420 les   8998        Used  2013    Hyundai    Elantra
4   112,948 les   8995        Used  2013  INFINITIJ          X
5   137,700 les   9250        Used  2016  LincolnMK          S
6   116,058 les   7000        Used  2016      Dodge      Grand
7    90,783 les  19998        Used  2019       Jeep      Grand
8    91,120 les   7450        Used  2012       Jeep    Liberty
9   110,900 les  13777        Used  2014       Ford          F
10   67,965 les  17975        Used  2021     RamPro     Master
11   42,056 les  29998        Used  2023       Ford          F
12  125,891 les  22995        Used  2020  Chevrolet   Suburban
13  132,935 les   5350        Used  2012       Ford     Fusion
14  122,818 les   6995        Used  2015     Nissan     Altima
15  103,830 les   7995        Used  2005     Nissan      Titan
16   84,824 les  17662        Used  2017       Jeep   Wrangler
17  105,172 les   6975        Used  2013       Ford    Transit
18  120,525 les   6000        Used  2008     Toyota     Tacoma
19  100,435 les  10650        Used  2015       Audi          Q
20  145,545 les   9750        Used  2015         BM          W
21  113,839 les   7995        Used  2012      Honda      Civic
22      500 les  30265        Used  2022       Jeep      Grand
23  107,060 les  13850        Used  2014       Ford          F
24   63,172 les  11795        Used  2017  Chevrolet       Volt
25    8,329 les  27913        Used  2023     Toyota     Tacoma
26  125,351 les  19995        Used  2018  Chevrolet  Silverado
27  116,200 les  14995        Used  2011     Toyota     Tacoma
28   89,180 les  14995        Used  2018      Volvo          V
29   86,826 les  14788        Used  2017        GMC     Acadia
30   32,250 les  18000        Used  2022    Hyundai       Kona
31   13,934 les  16300        Used  2021    Hyundai       Kona
32  120,645 les  11495        Used  2019  Chevrolet    Equinox

In [14]:
#You can export the DataFrame to excel if you choose to proceed with excel
car_info.to_excel('multiple_pages.xlsx', index = False)

In [15]:
#You can export the DataFrame to a csv file if needed
car_info.to_csv('multiple_pages.csv', index = False)