In [47]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [48]:
#Create empty lists to store the data we are about to collect from the website
#We would like to collect the names of the cars, the mileage, the price, the rating, the number of reviews the car received

car_name = []
car_mileage = []
car_price = []

In [49]:
#We need to create a variable to store the url of the website, I'm calling this variable website_url. We then need to send a request to the website
#and scrape multiple pages

for i in range(1,2):
    website_url ="https://www.truecar.com/used-cars-for-sale/listings/location-boston-ma/&page=" + str(i)
    #make request to the website
    web_request = requests.get(website_url, headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36'})
    
    # Create an object to store the html elements of the request
    soup = BeautifulSoup(web_request.content,'html.parser')
    
    # Create a list that contains the results of the web page
    results_list = soup.find_all('div', {'class':'flex w-full flex-col h-full'})
    
    for i in results_list:
    
        #get the names of the cars. If the name of the car is not present, append 'n/a' to the list
        try:
            car_name.append(i.find('h2').get_text())
        except:
            car_name.append('n/a')

        #get the mileage of the cars
        try:
            car_mileage.append(i.find('div', {'data-test': 'vehicleMileage'}).get_text())
        except:
            car_mileage.append('n/a')

        #get the price of the car
        try:
            car_price.append(i.find('span', {'data-test': 'vehicleCardPricingPrice'}).get_text())
        except:
            car_price.append('n/a')

In [50]:
# Create a DataFrame

car_info = pd.DataFrame({'Name': car_name, 'Mileage': car_mileage, 'Price': car_price})

In [51]:
#print the DataFrame
car_info

                                                 Name        Mileage     Price
0      Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD   42,056 miles  $29,998
1   Used 2023 FordTransit Cargo Van T-250 130" Low...   21,141 miles  $35,990
2            Used 2020 JeepWrangler Unlimited Sport S  100,752 miles  $19,250
3                          Used 2013 INFINITIJX35 AWD  112,948 miles   $8,995
4        Used 2013 HyundaiElantra GLS Sedan Automatic   43,420 miles   $8,998
5                  Used 2020 ChevroletSuburban LT 4WD  125,891 miles  $22,995
6               Used 2005 NissanTitan SE King Cab 4WD  103,830 miles   $7,995
7                     Used 2012 JeepLiberty Sport 4WD   91,120 miles   $7,450
8             Used 2012 HondaCivic LX Sedan Automatic  113,839 miles   $7,995
9         Used 2014 SubaruForester 2.0XT Touring Auto  135,632 miles   $8,995
10                         Used 2017 ChevroletVolt LT   63,172 miles  $11,795
11                        Used 2012 FordFusion SE FWD  132,935 miles   $5,350
12                    Used 2016 DodgeGrand Caravan SE  116,058 miles   $7,000
13      Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD  110,900 miles  $13,750
14  Used 2018 ChevroletSilverado 1500 LT Crew Cab ...  125,351 miles  $19,995
15              Used 2015 BMW328i xDrive Sports Wagon  145,545 miles   $9,750
16      Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD  107,060 miles  $13,850
17         Used 2015 AudiQ5 Premium Plus 2.0T quattro  100,435 miles  $10,645
18         Used 2019 ChevroletEquinox LS with 1LS AWD  120,645 miles  $11,495
19                 Used 2021 JeepCherokee Limited 4WD  107,626 miles  $16,995
20                  Used 2014 FordEscape Titanium 4WD  126,480 miles   $8,395
21            Used 2019 JeepGrand Cherokee Summit 4WD   90,783 miles  $19,998
22     Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD   42,056 miles  $29,998
23                        Used 2015 FordFusion SE FWD  121,957 miles   $8,250
24                    Used 2018 DodgeGrand Caravan SE   65,808 miles  $11,505
25             Used 2017 JeepWrangler Unlimited Sport   84,824 miles  $17,662
26              Used 2017 NissanNV200 Compact Cargo S  128,858 miles   $9,995
27                      Used 2016 LincolnMKS 3.7L AWD  137,700 miles   $9,195
28           Used 2014 FordTransit Connect Van XL LWB  120,482 miles   $9,995
29  Used 2020 FordTransit Cargo Van T-250 130" Low...   96,043 miles  $20,687
30         Used 2019 ChevroletEquinox LT with 2FL AWD  135,250 miles  $11,450
31                     Used 2022 FordExplorer XLT 4WD   78,543 miles  $22,999
32                           Used 2013 LincolnMKX AWD  124,442 miles   $7,999

In [52]:
#Let's clean the data frame

#The first thing we should do is to edit the Reviews column

car_info['Mileage'] = car_info['Mileage'].apply(lambda x:x.replace('miles', '')) #remove 'mi' from the mileage column
car_info['Mileage'] = car_info['Mileage'].apply(lambda x:x.replace('k', '000')) #remove 'k' from the mileage column
car_info['Price'] = car_info['Price'].apply(lambda x:x.replace('$', '')) # remove the $ from the Price column
car_info['Price'] = car_info['Price'].apply(lambda x:x.replace(',', '')) #remove the ',' from the Price column

In [53]:
car_info

                                                 Name   Mileage   Price
0      Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD   42,056   29998
1   Used 2023 FordTransit Cargo Van T-250 130" Low...   21,141   35990
2            Used 2020 JeepWrangler Unlimited Sport S  100,752   19250
3                          Used 2013 INFINITIJX35 AWD  112,948    8995
4        Used 2013 HyundaiElantra GLS Sedan Automatic   43,420    8998
5                  Used 2020 ChevroletSuburban LT 4WD  125,891   22995
6               Used 2005 NissanTitan SE King Cab 4WD  103,830    7995
7                     Used 2012 JeepLiberty Sport 4WD   91,120    7450
8             Used 2012 HondaCivic LX Sedan Automatic  113,839    7995
9         Used 2014 SubaruForester 2.0XT Touring Auto  135,632    8995
10                         Used 2017 ChevroletVolt LT   63,172   11795
11                        Used 2012 FordFusion SE FWD  132,935    5350
12                    Used 2016 DodgeGrand Caravan SE  116,058    7000
13      Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD  110,900   13750
14  Used 2018 ChevroletSilverado 1500 LT Crew Cab ...  125,351   19995
15              Used 2015 BMW328i xDrive Sports Wagon  145,545    9750
16      Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD  107,060   13850
17         Used 2015 AudiQ5 Premium Plus 2.0T quattro  100,435   10645
18         Used 2019 ChevroletEquinox LS with 1LS AWD  120,645   11495
19                 Used 2021 JeepCherokee Limited 4WD  107,626   16995
20                  Used 2014 FordEscape Titanium 4WD  126,480    8395
21            Used 2019 JeepGrand Cherokee Summit 4WD   90,783   19998
22     Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD   42,056   29998
23                        Used 2015 FordFusion SE FWD  121,957    8250
24                    Used 2018 DodgeGrand Caravan SE   65,808   11505
25             Used 2017 JeepWrangler Unlimited Sport   84,824   17662
26              Used 2017 NissanNV200 Compact Cargo S  128,858    9995
27                      Used 2016 LincolnMKS 3.7L AWD  137,700    9195
28           Used 2014 FordTransit Connect Van XL LWB  120,482    9995
29  Used 2020 FordTransit Cargo Van T-250 130" Low...   96,043   20687
30         Used 2019 ChevroletEquinox LT with 2FL AWD  135,250   11450
31                     Used 2022 FordExplorer XLT 4WD   78,543   22999
32                           Used 2013 LincolnMKX AWD  124,442    7999

In [54]:
#The Name column has a lot of important data on the Year, Company, Vehicle make and model.
# Use regex to split the 'Name' column into 4 parts: Stock type, Year, Brand, and the rest
#(\w+): Matches the stock type (e.g., "Used").
#(\d{4}): Matches the year (e.g., "2021").
#([A-Za-z]+): Matches the brand (e.g., "Toyota").
#(.*): Captures the rest of the string (e.g., "Tacoma SR5 Double Cab 5' Bed V6 4WD Automatic").

car_info[['Stock type', 'Year', 'Brand', 'Rest']] = car_info['Name'].str.extract(r'(\w+)\s(\d{4})\s([A-Za-z]+)(.*)')

In [55]:
car_info

,Name,Mileage,Price,Stock type,Year,Brand,Rest
0,Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD,"42,056",29998,Used,2023,FordF,-150 XLT SuperCrew 5.5' Box 2WD
1,"Used 2023 FordTransit Cargo Van T-250 130"" Low...","21,141",35990,Used,2023,FordTransit,"Cargo Van T-250 130"" Low Rf 9070 GVWR RWD"
2,Used 2020 JeepWrangler Unlimited Sport S,"100,752",19250,Used,2020,JeepWrangler,Unlimited Sport S
3,Used 2013 INFINITIJX35 AWD,"112,948",8995,Used,2013,INFINITIJX,35 AWD
4,Used 2013 HyundaiElantra GLS Sedan Automatic,"43,420",8998,Used,2013,HyundaiElantra,GLS Sedan Automatic
5,Used 2020 ChevroletSuburban LT 4WD,"125,891",22995,Used,2020,ChevroletSuburban,LT 4WD
6,Used 2005 NissanTitan SE King Cab 4WD,"103,830",7995,Used,2005,NissanTitan,SE King Cab 4WD
7,Used 2012 JeepLiberty Sport 4WD,"91,120",7450,Used,2012,JeepLiberty,Sport 4WD
8,Used 2012 HondaCivic LX Sedan Automatic,"113,839",7995,Used,2012,HondaCivic,LX Sedan Automatic
9,Used 2014 SubaruForester 2.0XT Touring Auto,"135,632",8995,Used,2014,SubaruForester,2.0XT Touring Auto
10,Used 2017 ChevroletVolt LT,"63,172",11795,Used,2017,ChevroletVolt,LT
11,Used 2012 FordFusion SE FWD,"132,935",5350,Used,2012,FordFusion,SE FWD
12,Used 2016 DodgeGrand Caravan SE,"116,058",7000,Used,2016,DodgeGrand,Caravan SE
13,Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD,"110,900",13750,Used,2014,FordF,-150 STX SuperCab 6.5' Box 4WD
14,Used 2018 ChevroletSilverado 1500 LT Crew Cab ...,"125,351",19995,Used,2018,ChevroletSilverado,1500 LT Crew Cab Short Box 4WD
15,Used 2015 BMW328i xDrive Sports Wagon,"145,545",9750,Used,2015,BMW,328i xDrive Sports Wagon
16,Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD,"107,060",13850,Used,2014,FordF,-150 STX SuperCab 6.5' Box 4WD
17,Used 2015 AudiQ5 Premium Plus 2.0T quattro,"100,435",10645,Used,2015,AudiQ,5 Premium Plus 2.0T quattro
18,Used 2019 ChevroletEquinox LS with 1LS AWD,"120,645",11495,Used,2019,ChevroletEquinox,LS with 1LS AWD
19,Used 2021 JeepCherokee Limited 4WD,"107,626",16995,Used,2021,JeepCherokee,Limited 4WD
20,Used 2014 FordEscape Titanium 4WD,"126,480",8395,Used,2014,FordEscape,Titanium 4WD
21,Used 2019 JeepGrand Cherokee Summit 4WD,"90,783",19998,Used,2019,JeepGrand,Cherokee Summit 4WD
22,Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD,"42,056",29998,Used,2023,FordF,-150 XLT SuperCrew 5.5' Box 2WD
23,Used 2015 FordFusion SE FWD,"121,957",8250,Used,2015,FordFusion,SE FWD
24,Used 2018 DodgeGrand Caravan SE,"65,808",11505,Used,2018,DodgeGrand,Caravan SE
25,Used 2017 JeepWrangler Unlimited Sport,"84,824",17662,Used,2017,JeepWrangler,Unlimited Sport
26,Used 2017 NissanNV200 Compact Cargo S,"128,858",9995,Used,2017,NissanNV,200 Compact Cargo S
27,Used 2016 LincolnMKS 3.7L AWD,"137,700",9195,Used,2016,LincolnMKS,3.7L AWD
28,Used 2014 FordTransit Connect Van XL LWB,"120,482",9995,Used,2014,FordTransit,Connect Van XL LWB
29,"Used 2020 FordTransit Cargo Van T-250 130"" Low...","96,043",20687,Used,2020,FordTransit,"Cargo Van T-250 130"" Low Roof 9070 GVWR RWD"
30,Used 2019 ChevroletEquinox LT with 2FL AWD,"135,250",11450,Used,2019,ChevroletEquinox,LT with 2FL AWD
31,Used 2022 FordExplorer XLT 4WD,"78,543",22999,Used,2022,FordExplorer,XLT 4WD
32,Used 2013 LincolnMKX AWD,"124,442",7999,Used,2013,LincolnMKX,AWD

In [56]:
# For my example, the car name and model are displayed in the brand column. I will use regex to extract the Brand and Model
#NOTE: This may not be the case for you, if it isn't so not run this cell. I suggest you look at your data

#We use the regular expression r'([A-Za-z]+)([A-Z][a-zA-Z]*)' to capture:
#([A-Za-z]+): The first part of the string (brand), which is made up of any sequence of letters.
#([A-Z][a-zA-Z]*): The second part (model), which starts with a capital letter followed by more letters.

car_info[['Make', 'Model']] = car_info['Brand'].str.extract(r'([A-Za-z]+)([A-Z][a-zA-Z]*)')

car_info

,Name,Mileage,Price,Stock type,Year,Brand,Rest,Make,Model
0,Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD,"42,056",29998,Used,2023,FordF,-150 XLT SuperCrew 5.5' Box 2WD,Ford,F
1,"Used 2023 FordTransit Cargo Van T-250 130"" Low...","21,141",35990,Used,2023,FordTransit,"Cargo Van T-250 130"" Low Rf 9070 GVWR RWD",Ford,Transit
2,Used 2020 JeepWrangler Unlimited Sport S,"100,752",19250,Used,2020,JeepWrangler,Unlimited Sport S,Jeep,Wrangler
3,Used 2013 INFINITIJX35 AWD,"112,948",8995,Used,2013,INFINITIJX,35 AWD,INFINITIJ,X
4,Used 2013 HyundaiElantra GLS Sedan Automatic,"43,420",8998,Used,2013,HyundaiElantra,GLS Sedan Automatic,Hyundai,Elantra
5,Used 2020 ChevroletSuburban LT 4WD,"125,891",22995,Used,2020,ChevroletSuburban,LT 4WD,Chevrolet,Suburban
6,Used 2005 NissanTitan SE King Cab 4WD,"103,830",7995,Used,2005,NissanTitan,SE King Cab 4WD,Nissan,Titan
7,Used 2012 JeepLiberty Sport 4WD,"91,120",7450,Used,2012,JeepLiberty,Sport 4WD,Jeep,Liberty
8,Used 2012 HondaCivic LX Sedan Automatic,"113,839",7995,Used,2012,HondaCivic,LX Sedan Automatic,Honda,Civic
9,Used 2014 SubaruForester 2.0XT Touring Auto,"135,632",8995,Used,2014,SubaruForester,2.0XT Touring Auto,Subaru,Forester
10,Used 2017 ChevroletVolt LT,"63,172",11795,Used,2017,ChevroletVolt,LT,Chevrolet,Volt
11,Used 2012 FordFusion SE FWD,"132,935",5350,Used,2012,FordFusion,SE FWD,Ford,Fusion
12,Used 2016 DodgeGrand Caravan SE,"116,058",7000,Used,2016,DodgeGrand,Caravan SE,Dodge,Grand
13,Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD,"110,900",13750,Used,2014,FordF,-150 STX SuperCab 6.5' Box 4WD,Ford,F
14,Used 2018 ChevroletSilverado 1500 LT Crew Cab ...,"125,351",19995,Used,2018,ChevroletSilverado,1500 LT Crew Cab Short Box 4WD,Chevrolet,Silverado
15,Used 2015 BMW328i xDrive Sports Wagon,"145,545",9750,Used,2015,BMW,328i xDrive Sports Wagon,BM,W
16,Used 2014 FordF-150 STX SuperCab 6.5' Box 4WD,"107,060",13850,Used,2014,FordF,-150 STX SuperCab 6.5' Box 4WD,Ford,F
17,Used 2015 AudiQ5 Premium Plus 2.0T quattro,"100,435",10645,Used,2015,AudiQ,5 Premium Plus 2.0T quattro,Audi,Q
18,Used 2019 ChevroletEquinox LS with 1LS AWD,"120,645",11495,Used,2019,ChevroletEquinox,LS with 1LS AWD,Chevrolet,Equinox
19,Used 2021 JeepCherokee Limited 4WD,"107,626",16995,Used,2021,JeepCherokee,Limited 4WD,Jeep,Cherokee
20,Used 2014 FordEscape Titanium 4WD,"126,480",8395,Used,2014,FordEscape,Titanium 4WD,Ford,Escape
21,Used 2019 JeepGrand Cherokee Summit 4WD,"90,783",19998,Used,2019,JeepGrand,Cherokee Summit 4WD,Jeep,Grand
22,Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD,"42,056",29998,Used,2023,FordF,-150 XLT SuperCrew 5.5' Box 2WD,Ford,F
23,Used 2015 FordFusion SE FWD,"121,957",8250,Used,2015,FordFusion,SE FWD,Ford,Fusion
24,Used 2018 DodgeGrand Caravan SE,"65,808",11505,Used,2018,DodgeGrand,Caravan SE,Dodge,Grand
25,Used 2017 JeepWrangler Unlimited Sport,"84,824",17662,Used,2017,JeepWrangler,Unlimited Sport,Jeep,Wrangler
26,Used 2017 NissanNV200 Compact Cargo S,"128,858",9995,Used,2017,NissanNV,200 Compact Cargo S,NissanN,V
27,Used 2016 LincolnMKS 3.7L AWD,"137,700",9195,Used,2016,LincolnMKS,3.7L AWD,LincolnMK,S
28,Used 2014 FordTransit Connect Van XL LWB,"120,482",9995,Used,2014,FordTransit,Connect Van XL LWB,Ford,Transit
29,"Used 2020 FordTransit Cargo Van T-250 130"" Low...","96,043",20687,Used,2020,FordTransit,"Cargo Van T-250 130"" Low Roof 9070 GVWR RWD",Ford,Transit
30,Used 2019 ChevroletEquinox LT with 2FL AWD,"135,250",11450,Used,2019,ChevroletEquinox,LT with 2FL AWD,Chevrolet,Equinox
31,Used 2022 FordExplorer XLT 4WD,"78,543",22999,Used,2022,FordExplorer,XLT 4WD,Ford,Explorer
32,Used 2013 LincolnMKX AWD,"124,442",7999,Used,2013,LincolnMKX,AWD,LincolnMK,X

In [57]:
#For my example, there are a few NaNs in the Make and Model columns, I need to replace these with the values Toyota, Tacoma

# Fill NaN values in the 'Brand' column with 'Toyota'
# car_info['Make'].fillna('Toyota', inplace=True) # old syntax
car_info.fillna({'Make': 'Toyota'}, inplace=True)

# Fill NaN values in the 'Model' column with 'Tacoma'
# car_info['Model'].fillna('Tacoma', inplace=True) # old syntax
car_info.fillna({'Model': 'Tacoma'}, inplace=True)

# Display the DataFrame
car_info.head()

,Name,Mileage,Price,Stock type,Year,Brand,Rest,Make,Model
0,Used 2023 FordF-150 XLT SuperCrew 5.5' Box 2WD,"42,056",29998,Used,2023,FordF,-150 XLT SuperCrew 5.5' Box 2WD,Ford,F
1,"Used 2023 FordTransit Cargo Van T-250 130"" Low...","21,141",35990,Used,2023,FordTransit,"Cargo Van T-250 130"" Low Rf 9070 GVWR RWD",Ford,Transit
2,Used 2020 JeepWrangler Unlimited Sport S,"100,752",19250,Used,2020,JeepWrangler,Unlimited Sport S,Jeep,Wrangler
3,Used 2013 INFINITIJX35 AWD,"112,948",8995,Used,2013,INFINITIJX,35 AWD,INFINITIJ,X
4,Used 2013 HyundaiElantra GLS Sedan Automatic,"43,420",8998,Used,2013,HyundaiElantra,GLS Sedan Automatic,Hyundai,Elantra

In [58]:
# Drop the column Name and its no longer needed
car_info = car_info.drop(["Name"], axis = 1)
car_info = car_info.drop(["Rest"], axis = 1)
car_info = car_info.drop(["Brand"], axis = 1)

In [59]:
car_info

     Mileage   Price Stock type  Year       Make      Model
0    42,056   29998        Used  2023       Ford          F
1    21,141   35990        Used  2023       Ford    Transit
2   100,752   19250        Used  2020       Jeep   Wrangler
3   112,948    8995        Used  2013  INFINITIJ          X
4    43,420    8998        Used  2013    Hyundai    Elantra
5   125,891   22995        Used  2020  Chevrolet   Suburban
6   103,830    7995        Used  2005     Nissan      Titan
7    91,120    7450        Used  2012       Jeep    Liberty
8   113,839    7995        Used  2012      Honda      Civic
9   135,632    8995        Used  2014     Subaru   Forester
10   63,172   11795        Used  2017  Chevrolet       Volt
11  132,935    5350        Used  2012       Ford     Fusion
12  116,058    7000        Used  2016      Dodge      Grand
13  110,900   13750        Used  2014       Ford          F
14  125,351   19995        Used  2018  Chevrolet  Silverado
15  145,545    9750        Used  2015         BM          W
16  107,060   13850        Used  2014       Ford          F
17  100,435   10645        Used  2015       Audi          Q
18  120,645   11495        Used  2019  Chevrolet    Equinox
19  107,626   16995        Used  2021       Jeep   Cherokee
20  126,480    8395        Used  2014       Ford     Escape
21   90,783   19998        Used  2019       Jeep      Grand
22   42,056   29998        Used  2023       Ford          F
23  121,957    8250        Used  2015       Ford     Fusion
24   65,808   11505        Used  2018      Dodge      Grand
25   84,824   17662        Used  2017       Jeep   Wrangler
26  128,858    9995        Used  2017    NissanN          V
27  137,700    9195        Used  2016  LincolnMK          S
28  120,482    9995        Used  2014       Ford    Transit
29   96,043   20687        Used  2020       Ford    Transit
30  135,250   11450        Used  2019  Chevrolet    Equinox
31   78,543   22999        Used  2022       Ford   Explorer
32  124,442    7999        Used  2013  LincolnMK          X

In [60]:
#You can export the DataFrame to excel if you choose to proceed with excel
car_info.to_excel('multiple_pages.xlsx', index = False)

In [61]:
#You can export the DataFrame to a csv file if needed
car_info.to_csv('multiple_pages.csv', index = False)